// $accent: #fe3e57;
// $default: #8d8d8d;
$title: #436372;
$links: #7b7b7b;
$bg:#fef7f0;
$button:#a3bbc8;



%dmsans-700{
  font-family:'DMSans-Bold', sans-serif ;
  font-weight: 700;
}
%dmsans-400{
  font-family:'DMSans-Regular', sans-serif ;
  font-weight: 400;
}
%rubik-500{
  font-family:'Rubik-Medium', sans-serif ;
  font-weight: 500;
}